<% include ../partials/header%>

<div class="jumbotron">
    <h1 class="display-3">Home</h1>
    <p class="lead">Quiz1 : Express +EJS</p>
    <hr class="my-2">
    <p>More info</p>
    
</div>
<% include ../partials/footer%>
